/* VARIABLES FOR LESS CSS */
@section-width: 620px;
@border-colour: #ccc;
@about-me-colour: #5A308D;
@work-colour: #8abd50;
@interests-colour: #bb225a;
@skill-background-colour: #ebebeb;
@cv-area-width: 690px;

.padding-box(@width) {
    background-color: #fff;
    border: solid 1px @border-colour;
    border-left: 0;
    border-top: 0;
    margin-bottom: 20px;
    background-image: url(../Images/HeaderBG.png);
    background-repeat: repeat-y;
    background-position: -20px top;
}

.transition(@speed){
  -webkit-transition: all @speed ease-in-out;
  -moz-transition: all @speed ease-in-out;
  -o-transition: all @speed ease-in-out;
  -ms-transition: all @speed ease-in-out;
  transition: all @speed ease-in-out;
}