<div id="skill-graph">
	<div class="introduction cv-section">
		<h2>Skills and tools</h2>
		<p>
			This graph is a visual representation of skills and tools that I think are the most important for what I do.
			If a skill or tool you are after doesn't appear in the graph then don't fret, it probably means that I just haven't used it for a while.
		</p>
		<p>
			The graph at the moment only responds to drag and drop, however I would like to extend it in the future as a shortcut to relevant details in my CV.
			<a href="#back" class="back-to-cv">Back to the full CV</a>
		</p>
	</div>
	<canvas id="my-skill-graph"></canvas">
</div>